{% extends 'quotes/base.html' %}

{% block content %}
  <h2>Profile</h2>
  <!-- Display the user's avatar -->
  <div class="profile-avatar">
      <img src="{{ user.profile.avatar.url }}" alt="Profile Avatar" width="250" height="250">
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit">Save Changes</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
  </form>
{% endblock %}

